<link rel="stylesheet" href="./Styles/Styles.Tickets.css">

<h2>Tickets</h2>

<section class="filters-container">
	<label for="filter-title">Title<input id="filter-title" type="text" placeholder="Film title"/></label>
	<label for="filter-date-from">Date from<input id="filter-date-from" type="date"/></label>
	<label for="filter-date-to">Date to<input id="filter-date-to" type="date"/></label>
	<button id="apply-filters-btn">Apply Filters</button>
	<button id="clear-filters-btn">Clear Filters</button>
</section>

<section class="films-container">
	<div class="film-card">
		<img src="../../Assets/posters/poster.jpg.webp" alt="Film 1 Poster">
		<h3 id="film-card_title">Film</h3>
		<p id="film-card_date">1970-01-01</p>
		<p id="film-card_time">00:00</p>
		<p id="film-card_available-seats">0</p>

		<label for="seat-selection">number of seats<input id="seat-selection" type="number" value="1"/></label>
		<button id="book-ticket-btn">book</button>
	</div>

	<div class="film-card">
		<img src="../../Assets/posters/poster.jpg.webp" alt="Film 1 Poster">
		<h3 id="film-card_title">Film</h3>
		<p id="film-card_date">1970-01-01</p>
		<p id="film-card_time">00:00</p>
		<p id="film-card_available-seats">0</p>

		<label for="seat-selection">number of seats<input id="seat-selection" type="number" value="1"/></label>
		<button id="book-ticket-btn">book</button>
	</div>

	<div class="film-card">
		<img src="../../Assets/posters/poster.jpg.webp" alt="Film 1 Poster">
		<h3 id="film-card_title">Film</h3>
		<p id="film-card_date">1970-01-01</p>
		<p id="film-card_time">00:00</p>
		<p id="film-card_available-seats">0</p>

		<label for="seat-selection">number of seats<input id="seat-selection" type="number" value="1"/></label>
		<button id="book-ticket-btn">book</button>
	</div>

	<div class="film-card">
		<img src="../../Assets/posters/poster.jpg.webp" alt="Film 1 Poster">
		<h3 id="film-card_title">Film</h3>
		<p id="film-card_date">1970-01-01</p>
		<p id="film-card_time">00:00</p>
		<p id="film-card_available-seats">0</p>

		<label for="seat-selection">number of seats<input id="seat-selection" type="number" value="1"/></label>
		<button id="book-ticket-btn">book</button>
	</div>

	<div class="film-card">
		<img src="../../Assets/posters/poster.jpg.webp" alt="Film 1 Poster">
		<h3 id="film-card_title">Film</h3>
		<p id="film-card_date">1970-01-01</p>
		<p id="film-card_time">00:00</p>
		<p id="film-card_available-seats">0</p>

		<label for="seat-selection">number of seats<input id="seat-selection" type="number" value="1"/></label>
		<button id="book-ticket-btn">book</button>
	</div>

	<div class="film-card">
		<img src="../../Assets/posters/poster.jpg.webp" alt="Film 1 Poster">
		<h3 id="film-card_title">Film</h3>
		<p id="film-card_date">1970-01-01</p>
		<p id="film-card_time">00:00</p>
		<p id="film-card_available-seats">0</p>

		<label for="seat-selection">number of seats<input id="seat-selection" type="number" value="1"/></label>
		<button id="book-ticket-btn">book</button>
	</div>

	<div class="film-card">
		<img src="../../Assets/posters/poster.jpg.webp" alt="Film 1 Poster">
		<h3 id="film-card_title">Film</h3>
		<p id="film-card_date">1970-01-01</p>
		<p id="film-card_time">00:00</p>
		<p id="film-card_available-seats">0</p>

		<label for="seat-selection">number of seats<input id="seat-selection" type="number" value="1"/></label>
		<button id="book-ticket-btn">book</button>
	</div>

	<div class="film-card">
		<img src="../../Assets/posters/poster.jpg.webp" alt="Film 1 Poster">
		<h3 id="film-card_title">Film</h3>
		<p id="film-card_date">1970-01-01</p>
		<p id="film-card_time">00:00</p>
		<p id="film-card_available-seats">0</p>

		<label for="seat-selection">number of seats<input id="seat-selection" type="number" value="1"/></label>
		<button id="book-ticket-btn">book</button>
	</div>

	<div class="film-card">
		<img src="../../Assets/posters/poster.jpg.webp" alt="Film 1 Poster">
		<h3 id="film-card_title">Film</h3>
		<p id="film-card_date">1970-01-01</p>
		<p id="film-card_time">00:00</p>
		<p id="film-card_available-seats">0</p>

		<label for="seat-selection">number of seats<input id="seat-selection" type="number" value="1"/></label>
		<button id="book-ticket-btn">book</button>
	</div>

	<div class="film-card">
		<img src="../../Assets/posters/poster.jpg.webp" alt="Film 1 Poster">
		<h3 id="film-card_title">Film</h3>
		<p id="film-card_date">1970-01-01</p>
		<p id="film-card_time">00:00</p>
		<p id="film-card_available-seats">0</p>

		<label for="seat-selection">number of seats<input id="seat-selection" type="number" value="1"/></label>
		<button id="book-ticket-btn">book</button>
	</div>

	<div class="film-card">
		<img src="../../Assets/posters/poster.jpg.webp" alt="Film 1 Poster">
		<h3 id="film-card_title">Film</h3>
		<p id="film-card_date">1970-01-01</p>
		<p id="film-card_time">00:00</p>
		<p id="film-card_available-seats">0</p>

		<label for="seat-selection">number of seats<input id="seat-selection" type="number" value="1"/></label>
		<button id="book-ticket-btn">book</button>
	</div>

	<div class="film-card">
		<img src="../../Assets/posters/poster.jpg.webp" alt="Film 1 Poster">
		<h3 id="film-card_title">Film</h3>
		<p id="film-card_date">1970-01-01</p>
		<p id="film-card_time">00:00</p>
		<p id="film-card_available-seats">0</p>

		<label for="seat-selection">number of seats<input id="seat-selection" type="number" value="1"/></label>
		<button id="book-ticket-btn">book</button>
	</div>

	<div class="film-card">
		<img src="../../Assets/posters/poster.jpg.webp" alt="Film 1 Poster">
		<h3 id="film-card_title">Film</h3>
		<p id="film-card_date">1970-01-01</p>
		<p id="film-card_time">00:00</p>
		<p id="film-card_available-seats">0</p>

		<label for="seat-selection">number of seats<input id="seat-selection" type="number" value="1"/></label>
		<button id="book-ticket-btn">book</button>
	</div>

	<div class="film-card">
		<img src="../../Assets/posters/poster.jpg.webp" alt="Film 1 Poster">
		<h3 id="film-card_title">Film</h3>
		<p id="film-card_date">1970-01-01</p>
		<p id="film-card_time">00:00</p>
		<p id="film-card_available-seats">0</p>

		<label for="seat-selection">number of seats<input id="seat-selection" type="number" value="1"/></label>
		<button id="book-ticket-btn">book</button>
	</div>
</section>

<div class="page-selector">
	<button id="previous-page-button">Previous</button>
	<span id="current-page">1</span>
	<button id="next-page-button">Next</button>
</div>