<link rel="stylesheet" href="./Styles/Styles.Tickets.css">

<h2>Tickets</h2>

<section class="filters-container">
	<label for="filter-title">Title<input id="filter-title" type="text" placeholder="Film title"/></label>
	<label for="filter-date-from">Date from<input id="filter-date-from" type="date"/></label>
	<label for="filter-date-to">Date to<input id="filter-date-to" type="date"/></label>
	<button id="apply-filters-button">Apply Filters</button>
	<button id="clear-filters-button">Clear Filters</button>
</section>

<section class="loading hidden">
	<p>Loading films...</p>
</section>

<section class="films-container"></section>

<div class="page-selector">
	<button id="previous-page-button">Previous</button>
	<span id="current-page">1</span>
	<button id="next-page-button">Next</button>
</div>