<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets Booking System</title>
    <link rel="stylesheet" href="./Styles/Styles.Index.css">
    <link rel="icon" type="image/png" href="https://github.com/IlianTheOne0/MVVM_js/blob/hm/task/Presentation/Assets/Icons/logo.png?raw=true">
</head>
<body>
    <header id="header-container"></header>
    
    <main id="app"></main>

    <script type="module" src="../WebApp.js"></script>
</body>
</html>